# =========================

# Virtual Environment

# =========================

venv/
env/
.venv/

# =========================

# Python Cache

# =========================

**pycache**/
*.pyc
*.pyo
*.pyd

# =========================

# Model Files (IMPORTANT)

# =========================

model/
*.pt
*.pth
*.bin

# =========================

# Hugging Face Cache

# =========================

.cache/
huggingface/

# =========================

# Logs

# =========================

*.log

# =========================

# VS Code

# =========================

.vscode/

# =========================

# OS Files

# =========================

.DS_Store
Thumbs.db

# =========================

# Temporary Files

# =========================

*.tmp
*.temp

# =========================

# Environment Variables

# =========================

.env

# =========================

# Jupyter Notebook

# =========================

.ipynb_checkpoints/
